#anflex_ga_version{font-size:50%;}
.anflex_ga_textbtn{font-size:75%;margin:0 5px;text-decoration:none;font-weight:normal;}
.anflex_ga_input_list{width:100%;}
.anflex_ga_helplink{font-weight:normal;font-size:75%;margin:0 5px;}
.anflex_ga_admin_block{clear:both;margin-bottom:10px;padding:10px;border:solid 1px #dddddd;}